<div class="col-md-6 action-buttons">
    <input type="button" name="discover" value="Discover" class="btn btn-success">
    <input type="button" name="sleep" value="Sleep" class="btn btn-primary">
    <input type="button" name="fight" value="Fight" class="btn btn-danger">
    <input type="button" name="escape" value="Escape" class="btn btn-warning">
</div>
<div class="col-md-5 col-md-offset-1 fight-buttons">
    <input type="button" name="attack" value="Attack" class="btn hidden">
    <input type="button" name="forward" value="Move forward" class="btn hidden">
    <input type="button" name="backward" value="Move backward" class="btn hidden">
    <input type="button" name="health" value="Use health kit" class="btn hidden">
</div>