<p>Welcome to the Fallout game!</p>
<p>Some time ago, humanity invented an artificial intellect, and it was beginning of the end!</p>
<p>With each year, it becomes smarter and more tricky. The group of government issued the law, which allowed robots to control weapons</p>
<p>In this list was also nuclear weapon. In one fateful moment, rockets were launched, and destroyed almost everything.</p>
<p>But for the sake of justice, the group of computer scientists survived in the special shelter.</p>
<p>And now primary objective is to kill main computer, which controls all other robots.</p>
<p>You have been chosen to go in the desert, find and kill this computer!</p>
<p>Good Luck!</p>
