<div class="special-title">
    <h4>S.P.E.C.I.A.L</h4>
</div>
<div class="special-indicators">
    <h4>Strength</h4>
    <div class="strength-indicator">
        <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 aria-valuenow="60"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: {{ strength_value }}%;">
            </div>
        </div>
    </div>
    <div class="agility-indicator">
        <h4>Agility</h4>
        <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 aria-valuenow="60"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: {{ agility_value }}%;">
            </div>
        </div>
    </div>
    <div class="perceive-indicator">
        <h4>Perceive</h4>
        <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 aria-valuenow="60"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: {{ perceive_value }}%;">
            </div>
        </div>
    </div>
    <div class="luck-indicator">
        <h4>Luck</h4>
        <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 aria-valuenow="60"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: {{ luck_value }}%;">
            </div>
        </div>
    </div>
</div>