.avatar {
    width: 122px;
    height: 262px;
}

.action-buttons {
    margin-top: 25px;
}

.action-buttons > input {
    margin: 10px 0;
}

.console-block {
    display: block;
    width: 530px;
    height: 250px;
    border: 1px solid #313131;
    background-color: darkgreen;
    color: #000;
    overflow-y: scroll;
}

.console-row {
    padding: 2px 5px;
}

.console-row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

